.k-nav{
    background-color: #4a4a4a;
    height: .3rem;
    overflow: hidden;
}
.k-nav-item{
    border-right: 1px solid #3f3f3f;
    line-height: .29rem;
    padding: 0 .1rem;
    font-size: .1rem;
    /*flex: 1;*/
    text-align: center;
    white-space: nowrap;
    margin-left: 0 !important;
}
.k-nav-item:last-of-type{
    border-right: none;
}
