<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>德润期货</title>
    <!--<link rel="stylesheet" href="./kitchen-sink.css">-->
</head>
<body>
<div id="root"></div>
<video id="trade-video" src='./tip.wav' style="display:none"></video>

<script src="./jquery.min.js"></script>
<script src="./jquery.signalR-2.2.3.min.js"></script>
<script src="http://106.12.216.168:1008/signalr/hubs"></script>
<script src="./toast.js"></script>
<script src="./hammer-min.js"></script>
<script src="./polyfill.min.js"></script>
<script>
    var k_type_choose = "";
    var work = $.connection.myHub;
    $.connection.hub.url = 'http://106.12.216.168:1008/lcc';
    var hub = $.connection.hub;
    hub.start().done(function () {
        work.server.品种行情()
        setInterval(function () {
            work.server.品种行情()
        }, 1000)
    });
</script>
</body>
</html>
