//theme white
//@sectionColor:#fff;
//@fontColor:#333;
//@footerColor:#666;
//@borderColor:#f5f5f5;

//theme black
@sectionColor:#262834;
@fontColor:#fff;
@footerColor:#999;
@borderColor:#5d5d5d;
@blue:#108ee9;
@up:#f97455;
@up2:#E34C4D;
@down:#13cc99;
@down2:#01B28E;
